body {
    text-align: center;
}
.header {
    margin-bottom: 1vh;
}

.left {
    margin-left: 3vh;
    float: left;
    height: 90vh;
    width: 17vw;
}
.right {
    margin-right: 2vw;
    float: right;
    width: 72vw;
    height: 90vh;
}
#grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .btn {
    margin-top: 50px;
    margin-left: 10px;
}

.left .progress {
    width: 75%;
    float: left;
    margin-top: 10px;
}

.right h4 {
    float: right;
    margin-top: 0px;
    margin-right: 40px;
}

#title img {
    margin-bottom: 10px;
}

.alert {
    margin-top: 15px;
}

#lineStyleControler {
    padding-top: 20px;
}


.left .row {
  padding-top: 20px;
}
